<<<<<<< HEAD
.font-size { font-size: 24px; }
.font-weight { font-weight: bold; }
.font-style { font-style: italic; }
.text-decoration { text-decoration: underline; }
.text-transform { text-transform: uppercase; }
.text-align { text-align: center; }
=======
.font-size { font-size: 24px; }
.font-weight { font-weight: bold; }
.font-style { font-style: italic; }
.text-decoration { text-decoration: underline; }
.text-transform { text-transform: uppercase; }
.text-align { text-align: center; }
>>>>>>> 37e2269c784e3d6184c79718bd26733ea306696f
